<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LegacyERP</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="container">

    <div class="navbar">

        <div class="left">
            legacyERP
        </div>

        <div class="center">
            <a href="/">Main Page</a>
            <a href="/employees">Employees</a>
            <a href="/departments">Departments</a>
            <a class="active" href="/about">About APP</a>
        </div>

        <div class="right">
            RIGHT CONTENT
        </div>

    </div>

    <div class="content">

        <div class="header">
            About application
        </div>

        <div class="text">
            Text
        </div>

    </div>

    <div class="footer">
        Background photo by Aleksandar Pasaric, source : https://www.pexels.com/photo/view-of-cityscape-325185
    </div>

</div>

</body>
</html>