<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LegacyERP</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="container">

    <div class="navbar">

        <div class="left">
            legacyERP
        </div>

        <div class="center">
            <a class="active" href="/">Main Page</a>
            <a href="/employees">Employees</a>
            <a href="/departments">Departments</a>
            <a href="/about">About APP</a>
        </div>

        <div class="right">
            <a href="https://github.com/mateusz-kwiecien/legacy-erp">
                <img src="../images/github.png">
            </a>
            <a href="https://www.linkedin.com/in/mateusz-kwiecien/">
                <img src="../images/linkedin.png">
            </a>
        </div>

    </div>

    <div class="content">

        <div class="header">
            Application's dashboard
        </div>

        <div class="text">
            Number of all employees : <span th:text="${ResourcesData.employeesNumber}"/><br>
            Number of unassigned employees : <span th:text="${ResourcesData.unassignedEmployeesNumber}"/><br>
            Number of all departments : <span th:text="${ResourcesData.departmentsNumber}"/>
        </div>

        <div class="actions">
            <form th:action="@{/util/populate/employees}" method="post">
                <input class="button-green" type="submit" value="Populate"/>
            </form>

            <form th:action="@{/util/restore-defaults}" method="post">
                <input class="button-orange" type="submit" value="Restore Defaults"/>
            </form>
        </div>

    </div>

    <div class="footer">
        Background photo by Aleksandar Pasaric, source : https://www.pexels.com/photo/view-of-cityscape-325185
    </div>

</div>

</body>
</html>