<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LegacyERP</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="container">
        <div class="navbar">
            <a class="active" href="/">Main</a>
            <a href="/employees">Employees</a>
            <a href="/departments">Departments</a>
        </div>
    </div>
    <div class="content">
        <h2>Main page</h2><br>

        Number of all employees : <span th:text="${ResourcesData.employeesNumber}"/><br>
        Number of unassigned employees : <span th:text="${ResourcesData.unassignedEmployeesNumber}"/><br>
        Number of all departments : <span th:text="${ResourcesData.departmentsNumber}"/><br>

        <form th:action="@{/util/populate/employees}" method="post">
            <input type="submit" value="Populate"/>
        </form>
    </div>
</div>

</body>
</html>