<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees list</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <div class="navbar">
        <a href="/">Main</a>
        <a class="active" href="/employees">Employees</a>
        <a href="/departments">Departments</a>
    </div>
    <div class="content">
        <h2>Employees list</h2>
        <a href="/employees/create">Create new</a>
        <table>
            <thead>
            <tr>
                <th> ID</th>
                <th> First Name</th>
                <th> Last Name</th>
                <th> Email</th>
                <th> Department</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#arrays.isEmpty(employees)}">
                <td colspan="2"> No Employees Available</td>
            </tr>
            <tr th:each="employee : ${employees}">
                <td><span th:text="${employee.id}"/></td>
                <td><span th:text="${employee.firstName}"/></td>
                <td><span th:text="${employee.lastName}"/></td>
                <td><span th:text="${employee.email}"/></td>
                <td><span th:text="${employee.department.name}"/></td>
                <td><a th:href="@{/employees/details?id={id}(id=${employee.id})}">Update</a></td>
                <td>
                    <form th:action="@{/employees/{id}(id=${employee.id})}" th:method="delete">
                        <input type="submit" value="DELETE"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>