*
{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.navbar
{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.navbar a
{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
}

.navbar a.active
{
    background-color: #4CAF50;
    color: #f1f1f1;
}

.navbar a:hover
{
    color: #f1f1f1;
}

.content
{
    margin-left: 200px;
    padding: 0px 10px;
}

.active
{
    background-color: #4CAF50;
    color: #f1f1f1;
}

.inputError
{
    font-size: 15px;
    color: red;
}

.error-container
{

}

.error-window
{
    color: white;
    background-color: #DA4453;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    padding: 50px;
}

.error-window a
{
    color: #f1f1f1;
}

.error-window a.active
{
    color: #f1f1f1;
}

.error-window a:hover
{
    color: #f1f1f1;
}